# OS
.DS_Store
Thumbs.db
desktop.ini

# Editors
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Old archives
mockup.zip

# Node (au cas où on ajoute du build plus tard)
node_modules/
dist/
build/
.env
.env.local
